<div class="row">
  <div class="span6">
    <div id='tasks_container'></div>
  </div>
  <div class="offset1 span4 hidden-phone">
    <div id='epics_container'></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    Cleancheese.initialize();
  });
</script>