.splash-container {
  height: 2000px;

  .section {
    position: absolute;
    height:400px;
  }

  .section:nth-child(1) {
  }
}

.bubble {
  position: relative;
  width: 250px;
  height: 120px;
  padding: 0px;
  background: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent blue;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 45px;
}

