//colors
$white: #eee9dc;
$dimwhite: #ccc;

$max_left_gutter: 12%;
$max979_left_gutter: 16%;
$max767_left_gutter: 0%;

$border_thick: 8px;
$border_thin: 4px;

@font-face {
  font-family: logoFont;
  src: url(/assets/logo/logo-font.woff);
}

body {
  font-size: 100%;
  background: #33914a image-url('treeline.png') repeat-x;
  font-family: 'Noto Sans', sans-serif
}

.header {
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  height:40px;

  .drawer-toggle {
    padding: 10px;
    display: inline-block;
    float: left;

    img {
      height: 20px;
    }
  }

  .logo {
    display: inline-block;
    color: $dimwhite;
    font-family: logoFont;
    font-size: 160%;
    font-weight: 100;
    padding: 15px;
  }

  .sign-in {
    display: inline-block;
    float: right;
    padding: 10px;
    font-size: 90%;

    a {
      color: $dimwhite;
    }
  }
}

.topfold {
  color:#ddd;
  width:100%;

  .asker-photo {
    position:relative;
    margin-left: 12%;

    @media (max-width: 979px) {
      margin-left: $max979_left_gutter;
    }

    @media (max-width: 767px) {
      margin-left: $max767_left_gutter;
    }

    img {
      border-radius:108px;
      border:$border_thick solid #eee9dc;
      margin-top: -15px;
      position:relative;
      z-index: 10;
      width:200px;
      margin-left: -80px;

      @media (max-width: 767px) {
        border:$border_thin solid #eee9dc;
        width:150px;
        margin-left: 15px;
        margin-top: -8px;
      }
    }
  }
}

.topfold {
  color: $white;
  font-weight: 100;

  .title {
    margin-left: $max_left_gutter;
    margin-right:40%;
    padding-left:175px;
    position: relative;
    top: -90px;

    @media (max-width: 979px) {
      margin-left: $max979_left_gutter;
    }

    @media (max-width: 767px) {
      margin-left: $max767_left_gutter;
      padding-left:180px;
      top: -50px;
    }

    h1 {
      font-weight: normal;
      font-size:42px;

      @media (max-width: 767px) {
        font-size:162%;
      }
    }

  }
}

.section {
  position: absolute;
}

.section:nth-child(1) {
  overflow: hidden;
  width:100%;
}

.timeline-container {
  // top:150px;

  h1 {
    margin-left: 24.3%;
    margin-top: 50px;
    position:absolute;
  }
}