body {
  font-size: 100%;
  // background: #48b379;
  // background: image-url('retina_wood.png');
  background: image-url('darkwood.png');
  font-family: 'Noto Sans', sans-serif
}

.topfold {
  color:#ddd;

  .asker-photo {
    // height: 100px;
    position:relative;
    left: 20%;

    img {
      border-radius:108px;
      border:8px solid #eee9dc;
      margin-left:-106px;
      margin-top: 25px;
      position:relative;
      z-index: 10;
    }
  }
}

.topfold-header {
  height: 60px;
  position:fixed;
  width:100%;
  z-index: 2;

  background: image-url('darkwood.png');
  transition: box-shadow .2s ease;

  display: none;
}

.splash-container {
  // height: 1000px;

  .section {
    position: absolute;
  }

  .section:nth-child(1) {
    // height:200px;
    overflow: hidden;
    width:100%;
  }

  .timeline-container {
    box-shadow: 0px -3px 18px #111;
    top:200px;
    background: #48b379;

    h1 {
      margin-left: 24.3%;
      margin-top: 50px;
      position:absolute;
    }
  }
}