// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tasks {
  h1 {margin-bottom:10px;}
  .tasks {
    padding-left: 2px;
    .task {
      border-top:1px solid #ccc;
      padding:8px 0;
      width:100%;
      background: rgba(255,255,255,.65);

      .name {
        outline:none;
        font-size: 18px;
        line-height: 1.6em;
      }

      .btn-group {
        float: right;
      }

      &:hover {
        cursor: pointer;
      }

      &.new {
        font-style: italic;
        .btn-group {
          display: none;
        }
      }

      &.complete {
        text-decoration: line-through;
      }
    }
  }
}