// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#progress_header{
  text-align: center;
  position:relative;
  top: 12px;
  li {
    list-style-image: none;
    background:#555;
    display: inline-block;
    height: 10px;
    width:10px;
    border:1px solid #666;
    border-radius:5px;

    &.success {
      border:1px solid #999;
      background:green;
    }
  }
}

#tasks {
  h1 {margin-bottom:10px;}
  .tasks {
    padding-left: 2px;
    .task {
      border-top:1px solid #ccc;
      padding:8px 0;
      width:100%;
      background: rgba(255,255,255,.65);

      .name {
        outline:none;
        font-size: 18px;
        line-height: 1.6em;
      }

      .btn-group {
        float: right;
      }

      &:hover {
        cursor: pointer;
      }

      &.new {
        font-style: italic;
        .btn-group {
          display: none;
        }
      }

      &.complete {
        text-decoration: line-through;
      }
    }
  }
}